@import "tailwindcss";

@theme {
  /* Define our Luxury Colors directly here */
  --color-alpha-black: #0A0A0A;
  --color-alpha-warm: #FAF9F6;
  --color-alpha-brown: #A68A64;

  /* Link to the fonts we set up in layout.tsx */
  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);
}

/* Standard reset */
html, body {
  height: 100%;
  scroll-behavior: smooth;
}